#content-fields-box {
  border: 1px solid black;
}

#content-fields {
  border: 1px solid black;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#content-fields-left {
  border: 1px solid black;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#content-types-content-fields {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#content-fields-right {
  border: 1px solid black;
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
